.MenuFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  border-radius: 12px;
  background: linear-gradient(rgba(240, 240, 240, 0.350), rgba(255, 255, 255, 0.550));

  .MenuTitle {
    color: #fff;
    text-shadow: 4px 4px 4px #000000;
    word-break: break-word;
  }
}


/* backgroundImage:`url(${menuImage1})` */