.GridBackground {
  background-color: #fbd079;
  border-radius: 0.5rem;
  padding: 0.4rem;
  box-sizing: border-box;
}

.Title {
  font-weight: bold;
  /*  color: gray; */
  color: #d25229
}

.Properties {
  margin-left: 0.5rem;
}