.MiniBanners {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;

  img {
      height: 245px;
      max-width: 280px;
  }

  .CentralCard {
      background-color: #f2745f;
      text-align: center;
      padding: 30px;
      color: #FFF;

      h2 {
          max-width: 70%;
          display: inline-block;
      }

      a {
        text-decoration: none;
        color: #631406;
        font-weight: bold;
      }

  }


}

.Categories {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;

  .PreviewPlates {
      text-align: center;

      img {
          height:180px;
          width: 180px;
          overflow: hidden;
          border: 4px solid #F8B120;
          border-radius: 50%;
      }

      h4 {
          margin-top: 20px;
          font-size: 22px;
          color: #631406;
          font-weight: 600;
          margin-bottom: 0px;
      }
  }

}
.Links {
  text-align: center;
  margin: 2.5rem 0;
}

.Background {
    background-color: #ffe0b2;
    box-sizing: border-box;
    padding: 3rem 0;
}
