.Background {
  background:linear-gradient(#FE5858, #EE9617);
  height: 100vh;
}

.FormHeader {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-sizing: border-box;
  
  h2 {
    color: black;
  }

}

.Text {
    font-weight: bold;
    color: gray;
}

.Flex {
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-size: 0.8rem;
  padding: 1rem 0 ;
  p {
    font-weight: bold;
  }
}

.Footer {
  display: flex;
  justify-content:center;
  align-items: center;
  padding:4rem 0 3rem 0;

}
