.NavLink {
  transition: background-color 0.3s ease;
  border-radius: 0.8rem;
  padding: 0.5rem;
  &:hover {
    background-color: darken(#e95b2d, 10%);
  }
}

.NavFlexBox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavFlexBoxMarginLeft{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 1.8rem;
}

.NavAlternativeButton {
  transition: background-color 0.3s ease;
  border-radius: 0.8rem;
  padding: 1rem;

  &:hover {
    background-color: darken(#e95b2d, 10%);
  }
}
