.Background {
  background:linear-gradient(#FE5858, #EE9617);
  min-height: 100vh;
  height: 100%
}

.LoginContainer {
  display: flex;
  justify-content: center;
  margin: auto;
}

.FormHeader {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-sizing: border-box;
  
  h2 {
    color: black;
  }

}

.Text {
    font-weight: bold;
    color: gray;
}

.Flex {
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-size: 0.8rem;
  padding: 1rem 0 ;
  p {
    font-weight: bold;
  }
}

.Footer {
  display: flex;
  justify-content:center;
  align-items: center;
  margin-top: 17rem;
}

.LoginContainerBackground {
  width: 360px;
  height: 390px;
  background-color: whitesmoke;
  border-radius: 24px;
  margin-top: 6rem;
}

.LoginAuthContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

@media (max-width: 500px) {
  .LoginAuthContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3rem;
  }

} 

/* 
@media (max-width: 1300px) {


}

@media (max-width: 650px) {

} */