.BannerArea {
  height: 70vh;
  background: linear-gradient(rgba(240, 240, 240, 0.250), rgba(255, 255, 255, 0.150)), url("../../assets/images/banner/banner-nuts-web.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: whitesmoke;

  .Container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 120%;
      font-size: 2rem;
  }

  .Titulo {
      text-transform: uppercase;
      margin:0;
      text-shadow: 1px 1px 4px #000000;
  }
}
