.Background {
  background:linear-gradient(#FE5858, #EE9617);
  min-height: 100vh;
  height: 100%;
}

.FormHeader {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-sizing: border-box;
  
  h2 {
    color: black;
  }

  a {
    color: #1890ff;
  }
}

.Text {
    font-weight: bold;
    color: gray;
}

.Flex {
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-size: 0.8rem;
  padding: 1rem 0 ;
  p {
    font-weight: bold;
  }
}

.Footer {
  display: flex;
  justify-content:center;
  align-items: center;
  padding:4rem 0 3rem 0;

}

.RegisterAuthContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
}

@media (max-width: 500px) {
  .RegisterAuthContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 3rem;
  }

} 
